<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Tweet Labeling</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="height: 40px;"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <blockquote class="blockquote">
                <h1>Etiquetar tweets noticiosos</h1>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="height: 20px;"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-primary">
                <h2 class="alert-heading">Paso 0: Lee estas instrucciones</h2>
                <p>El objetivo de esta tarea es asignar etiquetas descriptivas a tweets.</p>
                <p>
                    Hay tres eventos noticiosos disponibles, descritos abajo.
                    Los tweets asociados a cada evento pueden ser relevantes a éste (al describir algún aspecto del evento), o no (por ej. spam, conversaciones).
                </p>
                <p>
                    Por cada evento, te pedimos:
                    <ol>
                        <li>Leer la primera sección de Wikipedia del artículo del evento (<em>Paso 1</em> abajo)</li>
                        <li>Ingresar tus datos para ese evento (<em>Paso 2</em>)</li>
                        <li>Luego, en la interfaz:</li>
                        <ol>
                            <li>Escoger el o los tópicos más apropiados para cada tweet (puedes elegir más de uno)</li>
                            <li>Si no encuentras el tópico que crees que corresponde, puedes escribirlo en el campo de texto correspondiente</li>
                            <li>Si consideras que el tweet no entrega información sobre el evento, o bien es totalmente irrelevante a éste, presiona "No relevante o no informativo"</li>
                            <li>Si no estás seguro/a de qué hacer, presiona "Omitir este tweet"</li>
                            <li>Si estás listo/a para continuar, presiona "Enviar"</li>
                            <li>Repite el proceso para el siguiente tweet</li>
                        </ol>
                        <li>Al terminar, pasa al siguiente evento (punto (1) de esta lista)</li>
                    </ol>
                </p>
                
                <p>
                    Te pedimos <strong>al menos una hora</strong> para etiquetar tweets (unos 20 a 30 minutos por cada evento). 
                    No es necesario que destines una hora de corrido. Puedes salir y volver en otro momento. Entre más tweets etiquetes, ¡mucho mejor para nuestra evaluación! :-)
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="height: 20px;"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info">
                <h2 class="alert-heading">Paso 1: Elegir un evento y leer la primera sección del artículo de Wikipedia que se menciona</h2>
                <h5>(Para el evento "2015 Corinthia hotel attack" leer el artículo completo)</h5>
                <br>
                <dl>
                {% for event in events %}
                    <dt>{{ event.human_name }}</dt>
                    <dd><a href="{{ event.url }}" target="_blank">{{event.url}}</a></dd>
                    
                    <hr>
                {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12" style="height: 20px;"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if message %}
            <div class="alert alert-danger">
                <h5 class="alert-heading">{{ message }}</h5>
            </div>
            {% endif %}
            <div class="alert alert-warning">
                <h2 class="alert-heading">Paso 2: Ingresar tus datos</h2>

                <form action="{{ url_for('init') }}" method="post">
                    <div class="form-group">
                        <label for="nombre">Ingresa tu nombre de usuario</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="user_xx" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="eligeEvento">Elige un evento a evaluar:</label>
                        <select class="form-control" id="eligeEvento" name="eligeEvento">
                            {% for event in events %}
                            <option value="{{ event._id }}">{{ event.human_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">Ir a la evaluación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 60px;"></div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>