
.btn-xlarge {
    padding: 18px 28px;
    font-size: 48px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-topic {
    margin: 18px 8px;
    width: 330px;
    font-size: 14px;
}

.btn-topic-inline {
    padding: 12px;
    font-size: 14px;
}

.boxed {
    border-width: 1px;
    border-color: gray;
}

.boxed2 {
    border-width: 1px;
    border-color: lightslategrey;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    background-color: aliceblue;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
    background-color: aliceblue;
}

.check-container, .label-container {
    width: 330px;
    font-size: 14px;
}